<html>
<head>
<meta charset="UTF-8">
</head>
<body>
Home  <a href="./RestaurantList" >Restaurant list</a>  <a href="./Friends" >Friends</a> <a href="./GuestProfile" >  Profile</a>  <a href="./logout">Logout</a>
<br/>
<br/>
Restaurant visits:
<br/>
<table>
<thead>
	<tr>
		<th>Restaurant</th><th>Date</th><th>Duration</th>
	</tr>
</thead>
<tbody>
	{%for visit in visits%}
		<tr>
		<td>{{visit.restaurant.name}} </td><td>{{visit.date}} </td><td>{{visit.duration}} </td>
		</tr>
	{%endfor%}
	<td>&nbsp </td><td>&nbsp </td><td>&nbsp </td>
</tbody>
</table>
</body>
</html>