<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <form action="logout">
       Welcome {{supplier.name}} {{supplier.surname}} <input type="submit" value="Logout"/>
    </form>
    <br>
    <form action="allPosts">
        <input type="submit" value="All Posts from Managers"/>
    </form>
    <br>
    <form action="myOffers">
        <input type="submit" value="My Offers"/>
    </form>
    <br>
    <form action="updateInfo">
        <input type="submit" value="Change Your Info"/>
    </form>
    <br>
</body>
</html>