<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<form action="./guestRegister" method="post">
	E-mail: <input type="text" name='email'/>
	<br/>
	<br/>
	Password: <input type="password" name='password'/>
	<br/>
	<br/>
	Repeat password: <input type="password" name='passwordR'/>
	<br/>
	<br/>
	Name: <input type="text" name='name'/>
	<br/>
	<br/>
	Surname: <input type="text" name = 'surname'/>
	<br/>
	<br/>
	Address: <input type="text" name = 'address'/>
	<br/>
	<br/>
	<input type="submit" value="Register">
	</form>
	
	<a href="./">Back to log in page</a>
</body>
</html>