<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <table>
        <tr><td><form method="post" action="./addFood"><input name="orderID" type="hidden" value = "{{order.id}}"><input type = submit value = "Add Food"></form></td></tr>
        {%for i in order.orderedfoods.all%}
            <tr>
                <td>{{i.food.name}} x{{i.amount}}</td>
                <td><form method="post" action="./removeFood">
                    <input name="orderID" type="hidden" value="{{order.id}}">
                    <input name="foodID" type="hidden" value="{{i.food.id}}">
                    <input type = submit value = Remove></form></td>
            </tr>
        {%endfor%}
    </table>
    <table>
        <tr><td><form method="post" action="./addDrink"><input  name="orderID"type="hidden" value = "{{order.id}}"><input type = submit value = "Add Drink"></form></td></tr>
        {%for i in order.ordereddrinks.all%}
            <tr>
                <td>{{i.beaverage.name}} x{{i.amount}}</td>
                <td><form method="post" action="./removeDrink">
                    <input  name="orderID" type="hidden" value="{{order.id}}">
                    <input  name="drinkID" type="hidden" value="{{i.beaverage.id}}">
                    <input type = submit value = Remove></form></td>
            </tr>
        {%endfor%}
    </table>
    <a href="./waiterHomePage">Done</a>
</body>
</html>