<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <form action="logout">
       <input type="submit" value="Logout"/>
    </form>
    <a href="./waiterProfile">{{user}}</a>
    <p>Waiter</p>
    <p>...Hrana i pice spremno ...</p>
    <form action = "./addOrder">
        <input type="submit" value="Add Order">
    </form>
    <table border = 1>
        <tr>
            <td colspan="5" align="center">Orders</td>
        </tr>
        <tr>
            <td>Table Number</td>
            <td>Food</td>
            <td>Beverages</td>
            <td colspan="2">Options</td>
        </tr>
        {%for i in order %} <tr>
            <td>{{i.table.tableNo}}</td>
            <td>{%for j in i.orderedfoods.all%}{{j.food.name}} x{{j.amount}}<br>{%endfor%}</td>
            <td>{%for j in i.ordereddrinks.all%}{{j.beaverage.name}} x{{j.amount}}<br>{%endfor%}</td>
            <td>{%if i.paid%} Paid {%else%} Not Paid{%endif%}</td>
            {%if not i.paid%}
            <form method = post action = "./editOrder">
                <td><input type="submit" value = "Edit"><input type="hidden" name = "orderID" value = {{i.id}}></td>
            </form>

            <form method="post" action = "./createBill">
                <td><input type="hidden" name = "orderID" value = {{i.id}}>
                    <input type="submit" value = "Create Bill"></td>
            </form>
            {%endif%}
        </tr>>{%endfor%}
    </table>
</body>
</html>