<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <a href="rmHomePage"> Back </a> <br> <br>
    <form action="./employeeReg" method="post">
        Employees in restaurant {{rest}}:
        <table border="1">
            <tr>
                <td> Name </td>
                <td> Last Name</td>
                <td> Email </td>
                <td> Shoe size </td>
                <td> Size </td>
            </tr>
            {%for l in employee %}
            <tr>
                <td>{{l.name}}</td>
                <td>{{l.surname}}</td>
                <td>{{l.email}}</td>
                <td>{{l.shoeSize}}</td>
                <td>{{l.size}}</td>
            </tr>
        {%endfor%}
        </table>
        <br><br>
        <table>
            <tr>
                <td> Name: </td>
                <td><input type="text" name="name"/> </td>
            </tr>
            <tr>
                <td> Last Name: </td>
                <td> <input type="text" name="lastname"/> </td>
            </tr>
            <tr>
                <td>  Email: </td>
                <td> <input type="text" name="email"/> </td>
            </tr>
            <tr>
                <td> Shoe size: </td>
                <td> <input type="number" name="shoe"/> </td>
            </tr>
            <tr>
                <td> Size: </td>
                <td> <select name="size">
                    <option> Woman S </option>
                    <option> Woman M </option>
                    <option> Woman L </option>
                    <option> Male S </option>
                    <option> Male M </option>
                    <option> Male L </option>
                 </select> </td>
            </tr>
            <tr>
                <td> Restaurant: </td>
                <td> <input type="text" name="restaurant" value="{{rest}}" readonly/> </td>
            <tr>
                <td> Job: </td>
                <td> <select name="job">
                    <option> Waiter </option>
                    <option> Bartender </option>
                    <option> Cook </option>
                 </select> </td>
            </tr>
            <tr>
                <td> Type of cook:  </td>
                <td> <input type="text" name="type"/> </td>
                </tr>
        </table>
        <br> <input type="submit" value="Register"/>
    </form>
</body>
</html>