<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <form action="logout">
       Welcome {{manager.name}} {{manager.surname}} <input type="submit" value="Logout"/>
    </form>
    <form action="employeeReg">
        <input type="submit" value="Add Employee"/>
    </form>
    <form action="beverages">
        <input type="submit" value="Add Beverages"/>
    </form>
    <form action="meal">
        <input type="submit" value="Add Meal"/>
    </form>
    <form action="supplier">
        <input type="submit" value="Suppliers"/>
    </form>
    <form action="updateRestaurant">
        <input type="submit" value="Change Restaurant Informations"/>
    </form>
</body>
</html>