<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    td.size{
        width: 300px;
    }
    table.cen{
        text-align: center;
    }
</style>
<body>
    <form action="schedule" method="post">
        <br><br>
        <table>
            <tr>
                <td> Employee: </td>
                <td> <select name="r"> {%for l in employees %} <option value={{l.pk}}> {{l.name}} {{l.surname}} </option> {%endfor%} </select> </td>
            </tr>
            <tr>
                <td> Shift: </td>
                <td>
                    <select name="shift">
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> Section: </td>
                <td> <select name="section"> {%for l in segment %} <option value={{l.pk}}> {{l.name}} </option> {%endfor%} </select> only for waiter </td>
            </tr>
            <tr>
                <td> Date: </td>
                <td> <input type="date" name="date" > </td>
            </tr>
            <tr>
                <td colspan="2"> <input type="submit" value="OK"> </td>
            </tr>
        </table>
    </form>
Shift 1: 08:00-16:00 <br>
Shift 2: 16:00-24:00 <br>
Shift 3: 24:00-08:00 <br>
</body>
</html>