<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <form action="logout">
       <input type="submit" value="Logout"/>
    </form>
    <a href="./cookProfile">{{user}}</a>
    <p>Cook</p>
    <p>Dodati listu jela koja treba da spremi :)</p>
    <table border="1">
        <tr align="center">Food to prepper</tr>
        <tr><td>Table Number</td><td align="center">Food</td></tr>
        {%for i in orders%}
        <tr>
            <td align="center">{{i.table.tableNo}}</td>
            <td align="center">{%for j in i.orderedfoods.all%}{{j.food.name}} x{{j.amount}}<br>{%endfor%}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>