<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <form action="logout">
       <input type="submit" value="Logout"/>
    </form>
    <br>
    <a href="./cookProfile">{{user}}</a>
    <br>
    <br>
    <table border="1">
        <tr align="center">Food to prepper</tr>
        <tr><td>Table Number</td><td align="center">Food</td></tr>
        {%for i in orders%}
            {%if not j.paid%}
                <tr>
                    <td align="center">{{i.table.tableNo}}</td>
                    <td align="center">{%for j in i.orderedfoods.all%}{{j.food.name}} x{{j.amount}}<br>{%endfor%}</td>
                    <td><form method="post" action="./PreparingFood"><input name="orderID" type="hidden" value = {{i.id}}>
                        <input type = submit value = "Accept"></form></td>
                    <td><form method="post" action="./Ready"><input name="orderID" type="hidden" value = {{i.id}}>
                        <input type = submit value = "Ready"></form></td>
                </tr>
            {%endif%}
        {%endfor%}
    </table>
</body>
</html>