<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Registration</title>
</head>
<body>
    <form action="./restaurantReg" method="post">
        Name: <input type="text" name="name"/> <br>
        <br> Type: <input type="text" name="type"/> <br>
        <br> Address: <input type="text" name="address"/> <br>
        <br> Dimensions of restaurant: <input type="number" name="dimX"/> X <input type="number" name="dimY"/> <br>
        <br> <input type="submit" value="Register"/>
    </form>
</body>
</html>