<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
     <form action="logout">
       Welcome {{system.name}} {{system.surname}} <input type="submit" value="Logout"/>
    </form>
     <br>
    <form action="restaurantReg">
        <input type="submit" value="Add Restaurant"/>
    </form>
     <br>
    <form action="restaurantManReg">
        <input type="submit" value="Add Restaurant Manager"/>
    </form>
     <br>
    <form action="SystemManagerReg">
        <input type="submit" value="Add System Manager"/>
    </form>
    <br>
</body>
</html>