<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <a href="smHomePage"> Back </a> <br> <br>

    <form action="SystemManagerReg" method="post">
        <table border="1">
            <tr>
                <td> Name </td>
                <td> Last Name </td>
                <td> Email </td>
            </tr>
            {%for l in sysManager %}
                <tr>
                    <td>{{l.name}}</td>
                    <td>{{l.surname}}</td>
                    <td>{{l.email}}</td>
                </tr>
            {%endfor%}
        </table>
        <br><br>
        <table>
            <tr>
                <td> Name: </td>
                <td> <input type="text" name="name"/> </td>
            </tr>
            <tr>
                <td> Last Name: </td>
                <td> <input type="text" name="lastname"/> </td>
            </tr>
            <tr>
                <td> Email: </td>
                <td> <input type="text" name="email"/> </td>
            </tr>
            <tr>
                <td colspan="2"> <input type="submit" value="Registar"/> </td>
            </tr>
        </table>
    </form>
</body>
</html>