<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <form action="logout">
       <input type="submit" value="Logout"/>
    </form>
    <a href="./bartenderProfile">{{user}}</a>
    <br>
    <br>
    <table border="1">
        <tr><td>Shifts</td>{%for i in calendar%}<td>{{i}}</td>{%endfor%}</tr>
        <tr><td>First{%for i in calendar%}<td>{%for j in shift1%} {%if i == j.date%}{{j.employee.name}} {{j.employee.surname}}<br>{%endif%}{%endfor%}{%endfor%}</td></tr>
        <tr><td>Second{%for i in calendar%}<td>{%for j in shift2%} {%if i == j.date%}{{j.employee.name}} {{j.employee.surname}}<br>{%endif%}{%endfor%}{%endfor%}</td></tr>
        <tr><td>Third{%for i in calendar%}<td>{%for j in shift3%} {%if i == j.date%}{{j.employee.name}} {{j.employee.surname}}<br>{%endif%}{%endfor%}{%endfor%}</td></tr>
    </table>
    <br>
    <br>
    <table border="1">
        <tr>Drinks to prepper</tr>
        <tr><td>Table Number</td><td>Drinks and amount</td><td>Options</td></tr>
        {%for i in orders%}
            {%if not i.paid%}
                <tr>
                    <td align="center">{{i.table.tableNo}}</td>
                    <td>{%for j in i.ordereddrinks.all%}{{j.beaverage.name}} x{{j.amount}}<br>{%endfor%}</td>
                    <td><form method="post" action="./DrinkReady"><input name="orderID" type="hidden" value = {{i.id}}>
                        <input type = submit value = "DrinkReady"></form></td>
                    {%if i.time != "Now"%}<td>{{i.time}}</td>{%endif%}
                </tr>
            {%endif%}
        {%endfor%}
    </table>
</body>
</html>